body{
    font-family:Arial,sans-serif;
    background: #e0f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
.container{
    background:white;
    padding:20px;
    border-radius:10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);    
}
button{
    padding:10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
#weather{
    font-size:18px;
    margin-top: 10px;
}